body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.product-card {
  margin: 20px;
  padding: 20px;
  width: 250px;
  height: 500px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid gray;
}

.product-card:hover {
  cursor: pointer;
  background-color: rgb(109, 104, 104);
  color: white;
}

.product-image {
  width: 100%;
  height: 50%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-price {
  font-size: large;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: chocolate;
  align-items: center;
  color: antiquewhite;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style: none;
}

.login {
  margin-left: 50px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.product-details{
  margin: 20px auto;
  padding: 20px;
  display: flex;
  width: 50%;
  justify-content: space-around;
  border: 1px solid gray;
}

.product-details-image{
  height:450px;
}