body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
  margin: inherit;
  padding: inherit;
}

.product-card {
  margin: 20px;
  padding: 20px;
  width: 250px;
  height: 500px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid gray;
  text-align: center;
}

.product-card:hover {
  cursor: pointer;
  background-color: rgb(173, 156, 134);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.product-image {
  width: 100%;
  height: 50%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-price {
  font-size: large;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: rgb(40, 134, 29); */
  align-items: center;
  color: rgb(173, 156, 134);
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style: none;
}

.login {
  margin-left: 50px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.product-details {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-radius: 25px;
}

.product-details-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-picture {
  padding: 40px;
  overflow: hidden;
}

.product-information {
  padding: 50px;
}

.cart-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-btn:hover {
  background-color: #45a049;
}

.signin-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-input {
  width: 700px;
  height: 30px;
  padding: 5px;
  font-size: medium;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(246, 239, 239);
}

.product-cart-container {
  background-color: rgb(246, 239, 239);
  margin: 20px;
  padding: 20px;
  width: 70%;
}

.cart-card {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 2px 0;
}

.cart-product-image-container {
  margin: 40px 100px;
  padding: 5px;
}

.cart-product-image{
  height: 150px;
  width: 100%;
}

.cart-product-details-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-empty-msg-container{
  display: flex;
  justify-content: center;
  color: gray;
}